---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - autoscaling
  resources:
  - HorizontalPodAutoscaler
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mycrds.akmusa.com
  resources:
  - hpatuners
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mycrds.akmusa.com
  resources:
  - hpatuners/finalizers
  verbs:
  - update
- apiGroups:
  - mycrds.akmusa.com
  resources:
  - hpatuners/status
  verbs:
  - get
  - patch
  - update
